
/** INPUT FORM *************************************************/

#delvingsearch-form input#edit-query {
    width: 100%;
}

#block-delvingsearch-facets {
    padding: 0;
    margin: 0;
    background: #fff;
    border: none;
    width: 250px;
}

#delving h2.element-invisible {
    display: none;
}
#delving ul.pager {
    margin: 0 0 0 0;
    padding: 0;
}

/** BLOCKS ***************************************************/

.block {
    background: none !important;
}
.block.block-delvingsearch {
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
    width: 100% !important;
}

.block.block-delvingsearch .content {
    font-size: .85em;
    max-height: 120px;
    overflow: auto;
    padding: 0 !important;
    width: inherit;
    margin: 0 0 2em 0;
    /*background: #F6F6F2;*/
}

.block.block-delvingsearch .content .item-list ul {
    list-style-type: none !important;
    margin: 0;
    padding: 0;
    font-size: .85em;
}

.block.block-delvingsearch .content .item-list ul li a.selected {
    font-weight: bold;
    color: #666;
}

/** RESULTS LIST *************************************************/

#delving table.search-results {
    width: 100%;
}

#delving table.search-results tr:nth-child(odd) td {
    background: #F6F6F2;
}

#delving table.search-results tr:nth-child(even) td {
    background: #fff;
}

#delving table.search-results td {
    vertical-align: top;
    padding: .5em;
}

#delving table.search-results td p {
    margin: 0px;
}

#delving table.search-results td label {
    font-weight: bold;
}

#delving table.search-results h3 {
    margin: 0;
}

#delving table.search-results-item td {
    background: #fff;
    vertical-align: top;
}

/*#delving table.search-results td img, #delving table.search-results-item td img*/
/*{*/
    /*-moz-box-shadow: 1px 1px 2px #BBB;*/
    /*-webkit-box-shadow: 1px 1px 2px #BBB;*/
    /*box-shadow: 1px 1px 2px #BBB;*/
	/*border:4px solid #FFF;*/
/*}*/

/** RESULTS GRID *************************************************/

#delving .results {

}

#delving .results.list .result {
    width: 100%;
    clear: both;
    display: inline-block;
    margin:  0 0 20px 0;
    height: auto;

}

/*#delving .results.list .result.odd .meta-container {*/
    /*background-color: #ebeded;*/
    /*height: 140px;*/
/*}*/

/*#delving .results.list .result {*/
    /*display: block;*/
    /*margin-bottom: 1em;*/
    /*height: 140px;*/
/*}*/

#delving .results.list .result .img-container{
    display: block;
    float: left;
    margin-right: 1em;
    /*margin-bottom: 1em;*/
    /*padding:  .5em;*/
}

#delving .results.list .result .img-window {
    position: relative;
    /*height: 120px;*/
    width: auto;
    overflow: hidden;
    /*text-align: center;*/
}

#delving .results.list .result .meta-container {
    margin-bottom: 1em;
}

#delving .results.list .result.odd {
   background:  #F6F6F2;
}

/*#delving .results.list .result .meta-container .title {*/
    /*display: inline-block;*/
    /*float: left;*/
    /*word-wrap: break-word;*/
/*}*/

/*#delving .results {*/
   /*width: 100%;*/
   /*overflow:  hidden;*/
/*}*/

#delving .results.grid .result {
    display: inline;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    width: 23%;
}

#delving .results.grid .img-window {
    position: relative;
    height: 120px;
    width: auto;
    overflow: hidden;
    text-align: center;
}

/*#delving .results.list .result {*/
    /*width: 100%;*/
    /*display: table-row;*/
    /*background:  gold;*/
    /*overflow:  hidden;*/
    /*vertical-align: top;*/
    /*border-collapse:collapse;*/

/*}*/

/*#delving .results.list .img-container {*/
   /*display: table-cell;*/
    /*border-collapse:collapse;*/
    /*overflow:  hidden;*/

/*}*/

/*delving .results.list .meta-container {*/
    /*border-collapse:collapse;*/

    /*display: table-cell;*/
    /*vertical-align: top;*/
/*}*/

/*#delving .results .img-window {*/
    /*background:  green;*/
    /*position: relative;*/
    /*height: 120px;*/
    /*width: auto;*/
    /*overflow: hidden;*/
    /*text-align: center;*/
/*}*/

/*#delving results.grid .result .img-container img {*/
    /*position:absolute;*/
    /*clip:rect(0px,210px,120px,0px);*/
    /*position: absolute;*/
    /*bottom: 0px;*/
    /*left: 0px;*/
    /*vertical-align: baseline;*/
/*}*/

/*#delving .result.grid .meta-container {*/
   /*display: block;*/
/*}*/

/*#delving .results.list .img-container {*/
    /*display: inline-block;*/
    /*float: left;*/
/*}*/

/*#delving .result .meta-container {*/
    /*background: #ccc;*/
   /*display: inline-block;*/
   /*float: left;*/
/*}*/

/*#delving .result h2 {*/
    /*font-size: 14px;*/
    /*font-weight: normal;*/
    /*vertical-align: top !important;*/
    /*display: inline;*/
    /*white-space: normal;*/
    /*word-wrap:break-word;*/

/*}*/

#delving .result h2 {
    font-size: 14px;
    font-weight: normal;
    letter-spacing: normal;
}

#delving .result-object {
    clear: both;
    overflow:  hidden;
}

#delving .result-object-img {
    display: inline-block;
    float: left;
}

#delving .result-object-meta {
    display: inline-block;
    float: left;
    margin-left: 1em;
}



/** RESULT COUNT ************************************************/

.delving-count {
  margin: 1em 0;
}

/** BREADCRUMBS *************************************************/


.delving-breadcrumbs {
    margin: 1em 0;
}

.delving-breadcrumbs a.crumb {
    padding: 0 .5em;
}

/** PAGER *************************************************/

#delving ul.pager {
    margin: 1em 0;
}

/* PBD **********************************************************/

div#pb-delving {
    text-align: center;
    width: 100%;
    margin: 2em 0 0 0;
    font-size: .85em;
}

/* LINKS *********************************************************/

a.button {
    background: none repeat scroll 0 0 #EBEDED;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    padding: 0.25em 0.5em;
    position: relative;
    text-decoration: none;
    vertical-align: baseline;
}