
/** INPUT FORM *************************************************/

#delvingsearch-form {
    background: #ebeded;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding:  1em;
}

#delvingsearch-form input#edit-query {
    width: 99%;
    height: 21px;
    line-height: 21px;
    padding:  4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}

#delvingsearch-form .form-item {
    margin:  0;
}

#delvingsearch-form label {
    padding:  0 0 0 2px;
    margin-bottom: .5em;
    display: block;
}

#delvingsearch-form input[type="submit"]
{
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
    border-radius:4px;
    background: #000;
    border:none;
	color:#fff;
	cursor:pointer;
	margin-top: .5em;
	padding:6px;
	width:80px;
}

#block-delvingsearch-facets {
    padding: 0;
    margin: 0;
    background: #fff;
    border: none;
    width: 250px;
}

#delving h2.element-invisible {
    display: none;
}
#delving ul.pager {
    margin: 0 0 0 0;
    padding: 0;
}



/** BLOCKS ***************************************************/

.block {
    background: none !important;
}
.block.block-delvingsearch {
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
    width: 100% !important;
}

.block.block-delvingsearch .content {
    font-size: .85em;
    max-height: 120px;
    overflow: auto;
    padding: 0 !important;
    width: inherit;
    margin: 0 0 2em 0;
    /*background: #F6F6F2;*/
}

.block.block-delvingsearch .content .item-list ul {
    list-style-type: none !important;
    margin: 0;
    padding: 0;
    font-size: .85em;
}

.block.block-delvingsearch .content .item-list ul li a.selected {
    font-weight: bold;
    color: #666;
}

/** RESULTS LIST *************************************************/

#delving .image-not-available {
    position: absolute;
    top: 0;
    left: 10px;
    color: #000;
}

#delving .results.list {
    display: table;
    border-collapse:separate;
    border-spacing:.5em;
}

#delving .results.list .result {
    display: table-row;
    width: 100%;

}

#delving .results.list .result .img-container{
    background:  #000;
    display: table-cell;
    padding: .5em;
    vertical-align: top;
}

#delving .results.list .result .img-window {
    background:  #000;
    height: 120px;
    overflow: hidden;
    position: relative;
    width: auto;
}

#delving .results.list .result .meta-container {
    display: table-cell;
    padding: .5em;
    vertical-align: top;
    width: auto;
}

#delving .results.list .result .meta-container p {
    margin: 0;
}

#delving .results.list .result.odd {
   background: #ebeded;
}

/** RESULTS GRID *************************************************/

#delving .results.grid .result {
    display: inline;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    width: 23%;
}

#delving .results.grid .img-window {
    position: relative;
    height: 120px;
    width: auto;
    overflow: hidden;
    text-align: center;
}

#delving .result h2 {
    font-size: 14px;
    font-weight: normal;
    letter-spacing: normal;
}

#delving .result-object {
    clear: both;
    overflow:  hidden;
}

#delving .result-object-img {
    display: inline-block;
    float: left;
    max-width: 50%;
}

#delving .result-object-img img {
    float: left;
}

#delving .result-object-meta {
    display: inline-block;
    float: left;
    max-width: 50%;

    margin-left: 20px;
}

#delving .row-break {
    clear: both;
    display: block;
    height: 2em;
}



/** RESULT COUNT ************************************************/

.delving-count {
  margin: 1em 0;
}

/** BREADCRUMBS *************************************************/


.delving-breadcrumbs {
    margin: 1em 0;
    font-size: 1.15em;
}

.delving-breadcrumbs a.crumb {
    padding: 0 .5em;
}

/** OBJECT *************************************************/

.page-delving.page-delving-item h1 {
    background: #ebeded;
    padding:  4px 8px;
    font-size: 16px;
}
#delving.object label {
    font-weight: bold;
    float: left;
    clear: left;
    margin-right: .5em;
}

#delving.object span {
    float: left;
    white-space: pre-line;
    word-wrap: break-word;
}

#delving.object dl {
    margin: 0;
}

#delving.object .result-object-meta {
    /*word-wrap: normal;*/
    /*white-space: pre-wrap;*/
}

#delving.object dt {
    font-size: 14px;
    font-weight: bold;
    /*float: left;*/
    line-height: 1.5em;
    padding-right: 8px;
}


#delving.object dd {
    font-style: normal;
    line-height: 1.5em;
    font-size: 1em;
    margin-bottom: 10px;
}

/** PAGER *************************************************/

#delving ul.pager {
    margin: 1em 0;
}

/* PBD **********************************************************/

div#pb-delving {
  text-align: center;
  width: 100%;
  margin: 2em 0 0 0;
  font-size: .85em;
  clear:both;
}

/* LINKS *********************************************************/

a.button {
    background: none repeat scroll 0 0 #EBEDED;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    padding: 0.25em 0.5em;
    position: relative;
    text-decoration: none;
    vertical-align: baseline;
}

/* EUROPEANA STYLE TABS. */
.delvingtabs a.menutab {
  background-color: rgb(141, 186, 205);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: rgb(255, 255, 255);
  display: block;
  float: left;
  height: 16px;
  line-height: 16px;
  margin-right: 1em;
  outline-color: currentColor;
  outline-style: none;
  outline-width: 0px;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  text-decoration: none;
}
.delvingtabs a.active {
  background-color: rgb(85, 122, 138);
  box-shadow: 4px 4px 4px rgb(187, 187, 187);
  color: rgb(255, 255, 255);
  cursor: default;
  margin-top: -4px;
}

/*FANCY JQUERY BOX STYLING*/
#clearsearch {
  position:absolute;
  text-align:right;
  border:1px dotted #000;
}
#clearsearch a,
#clearsearch a:link,
#clearsearch a:hover,
#clearsearch a:visited,
#clearsearch a:active {
  color:red;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:700;
  text-decoration:none;
}