#delvingsearch-form input#edit-query {
    width: 100%;
}

#block-delvingsearch-facets {
    padding: 0;
    margin: 0;
    background: #fff;
    border: none;
    width: 250px;
}

#delving h2.element-invisible {
    display: none;
}
#delving ul.pager {
    margin: 0 0 0 0;
    padding: 0;
}



.block.block-delvingsearch {
    padding: 0;
    margin: 0;
    border: none;
    width: 250px;
}

.block.block-delvingsearch .content {
    font-size: .85em;
    max-height: 120px;
    overflow: auto;
    padding: .5em !important;
    width: 250px;
    margin: 0 0 2em 0;
    background: #F6F6F2;
}




#delving table.search-results tr:nth-child(odd) td {
    background: #F6F6F2;
}

#delving table.search-results tr:nth-child(even) td {
    background: #fff;
}

#delving table.search-results td {
    vertical-align: top;
    padding: .5em;
}

#delving table.search-results td p {
    margin: 0px;
}

#delving table.search-results td label {
    font-weight: bold;
}

div.delving-facets-container h4 {

}

div.delving-facets {
    font-size: .85em;
    max-height: 120px;
    overflow: auto;
    padding: .5em;
    width: 250px;
    margin: 0 0 2em 0;
    background: #F6F6F2;
}

.delving-breadcrumbs {
    margin: 1em 0;
}
.delving-breadcrumbs a.crumb {
    padding-right: 1em;
}

div.powererd-by-delving {
    text-align: center;
    width: 100%;
    margin: 1em 0 0 0;
}